{% extends "base_generic.html" %}

{% block content %}
    <button class="mybutton" onclick="location.href='{% url 'movie-create' %}';"><a href="{% url 'movie-create' %}">Create Movie</a></button>
    <h1>Filter</h1>
    <form method="get">
        <table>
        {{ filter.form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <h1>Movie List:</h1>
    {% if object_list %}
          <table style="width:100%">
            {% for movie in object_list %}
            <tr>
              <th style="text-align: center;"><a class="mylist-ele" href="{">{{ movie.title }}</a></th>
              <th><button class="mybutton" onclick="location.href='{% url 'movie-delete' movie.id %}';"><a href="{% url 'movie-delete' movie.id %}">Delete</a></button></th>
              <th><button class="mybutton" onclick="location.href='{% url 'movie-update' movie.id %}';"><a href="{% url 'movie-update' movie.id %}">Update</a></button></th>
            </tr>
            {% endfor %}
          </table>
          {% else %}
            <p>There are no author in this app.</p>
          {% endif %}

{% endblock %}