{% extends "base_generic.html" %}

{% block content %}
    <button class="mybutton" onclick="location.href='{% url 'studio-create' %}';"><a href="{% url 'studio-create' %}">Create Studio</a></button>
    <h1>Filter</h1>
    <form method="get">
        <table>
        {{ filter.form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <h1>Studio List:</h1>
    {% if object_list %}
          <table style="width:100%">
            {% for director in object_list %}
            <tr>
              <th style="text-align: center;"><a class="mylist-ele" href="{% url 'director-detail' director.id %}">{{ director }}</a></th>
              <th><button class="mybutton" onclick=""><a href="">Delete</a></button></th>
              <th><button class="mybutton" onclick=""><a href="">Update</a></button></th>
            </tr>
            {% endfor %}
          </table>
          {% else %}
            <p>There are no studio in this app.</p>
          {% endif %}

{% endblock %}